.container{
    border: 2px solid black;
    display: grid;
    grid-template-areas: 
    ''
    ''
    ''
    '';
}
.item{
    border: 1px solid black;
}
.header{
    grid-area: a;
}
.menu{
    grid-area: b;
}
.left{
    grid-area:c ;
}
.right{
    grid-area: d;
}
